
@{
    ViewBag.Title = "Index";
}

<div class="alert alert-@ViewBag.alerta"><b>@ViewBag.res</b></div>
<form  method="post" class="row g-3">
    <div class="col-6">
        <label for="input1" class="form-label">Promedio Clientes/Hora - pHORAS</label>
        <input type="text" class="form-control" name="p_horas" id="p_horas" placeholder="Promedio Cliente/Hora" required />
    </div>
    <div class="col-6">
        <label for="input2" class="form-label">Promedio Productos/Persona - pClientes</label>
        <input type="text" class="form-control" name="p_clientes" id="p_clientes" placeholder="Promedio Productos/Persona" required />
    </div>
    <div class="col-6">
        <label for="input3" class="form-label">Horas a simular - pProductos</label>
        <input type="text" class="form-control" name="p_productos" id="p_productos" placeholder="Horas a simular" required />
    </div>


    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success btn-lg">Calcular</button>
    </div>
</form>


