@{
    ViewBag.Title = "Proyecto simulacion";
}


    <form class="row g-3">
        <div class="col-6">
            <label for="input1" class="form-label">Promedio Cliente/Hora</label>
            <input type="text" class="form-control" id="input1" placeholder="Promedio Cliente/Hora">
        </div>
        <div class="col-6">
            <label for="input2" class="form-label">Promedio Productos/Persona</label>
            <input type="text" class="form-control" id="input2" placeholder="Promedio Productos/Persona">
        </div>
        <div class="col-6">
            <label for="input3" class="form-label">Horas a simular</label>
            <input type="text" class="form-control" id="input3" placeholder="Horas a simular">
        </div>
        <div class="col-6">
            <label for="input4" class="form-label">Tiempo en cola</label>
            <input type="text" class="form-control" id="input4" placeholder="Tiempo en cola">
        </div>
        <div class="col-6">
            <label for="input5" class="form-label">Tiempo en el sistema</label>
            <input type="text" class="form-control" id="input5" placeholder="Tiempo en el sistema">
        </div>
        
        
        <div class="col-12">
            <button type="submit" class="btn btn-success btn-lg">Calcular</button>
        </div>
    </form>


