@model  List<ProyectoSimulacion1.Models.DETALLE_CLIENTE>


@{
    ViewBag.Title = "Detalle2";
}


<div style="padding: 8px;" class="text-center">
    <a type="btn" href=" @Url.Action("Index")" class="btn btn-primary col-5">Regresar&nbsp&nbsp</a>
</div>
<div class="text-center"><h2>Detalle Cliente</h2></div>

<div class="row" style="margin-top:20px">
    <div class="col"></div>
    <div class="col-6">
        <table class="table table-dark table-striped col-sm-10">
            <tr>
                <th  class="text-center" scope="col">
                    PRODUCTO
                </th>
                <th scope="col">
                    NOMBRE
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.CORRELATIVO_PRODUCTO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NOMBRE_PRODUCTO)
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col"></div>
</div>



